[submodule "src/third_party/SCLUK"]
	path = src/third_party/SCLUK
	url = git@github.com:circled-square/SCLUK.git
[submodule "src/third_party/imgui"]
	path = src/third_party/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "src/third_party/stb"]
	path = src/third_party/stb
	url = git@github.com:nothings/stb.git
[submodule "src/third_party/glfw"]
	path = src/third_party/glfw
	url = git@github.com:glfw/glfw.git
[submodule "src/third_party/glm"]
	path = src/third_party/glm
	url = git@github.com:g-truc/glm.git
