[submodule "private/third_party/glm"]
	path = private/third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "private/third_party/glfw"]
	path = private/third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "private/third_party/imgui"]
	path = private/third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "private/third_party/stb"]
	path = private/third_party/stb
	url = https://github.com/nothings/stb.git
[submodule "private/third_party/tinygltf"]
	path = private/third_party/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "private/third_party/SCLUK"]
	path = private/third_party/SCLUK
	url = https://github.com/circled-square/SCLUK.git
